@model MBaumann.IUT.Forum.Ui.Models.Sujet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sujet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topic.Cle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Suppression)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Suppression)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modification)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
